* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}

#principal {
    width: 100%;
    position: absolute;
    
}

header {
    width: 100%;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.315);
    background-color: rgb(179, 212, 181);
}

h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.rede{
    margin-left: 20px;
    width: 10%;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    margin-right: 25px;

}


a {
    margin-left: 10px;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.inicio {
    
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

img {
    position: relative;
    
    

}

.resumo {
    
    padding: 10px;
    width: 30%;
    height: 15%;
    margin-top: 80px;    
    border-radius: 11px;
    border: solid 1px rgba(0, 0, 0, 0.315);

}

.frase {
    
    width: 30%;
    height: 10%;
    padding: 10px;
    margin-top: 140px;
    border: solid 1px rgba(0, 0, 0, 0.315);
    border-radius: 11px;
}

.segunda{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding: 55px;
}


.segunda img{
    width: 15%;
}

hr{
    width: 80%;
    margin: 30px auto;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin: auto;
    
}

.descricao-projetos img{
    width: 8rem;
}

.descricao-projetos h1{
    margin: 20px auto;
}


.card{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;    
    border: 1px solid black;
    border-radius: 10px;
   
}

.card img{
    border-radius: 10px;
    margin: 20px 0;
    width: 150px;
    height: 150px;    
}

.card li{
    list-style: none;
    line-height: 27px;
}

.card button{
    width: 150px;
    padding: 10px 0;
    border-radius: 50px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.card button:hover{
    background: black;
    color: white;
    border: none;
    
}

.card button:active{
    background: red;
    color: greenyellow;
}

.card ol{
    border-top: 1px solid black;
    padding: 5px 0;
    color: white;
    
}

.projetos{
    position:absolute;
    background: rgba(63, 94, 73, 0.664);
    width: 100%;
}

.descricao-projetos{
    position: relative;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}



