* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}


#principal {
    
    width: 100%;
    position: absolute;
    

}

header {
    width: 100%; 
    height: 70px;   
    padding: 10px 10px 0;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
    background: rgba(255, 255, 255, 0.295);
    box-shadow: 0px 0px 7px 0px black;

}

header .mini-logo {
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 23px;
    left: 30px;

}

.hr-reader {
    width: 95vw;   
}

.img-menu {
    display: none;
}

nav {
    position: relative;
    width: 40%;
}

h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.rede {
    margin-left: 20px;
    width: 10%;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    font-size: 30px;
    width: 100%;

}

.link-reader {
    width: 300px;
    border-bottom: 1px solid transparent;

}

.link-reader:hover {
    transition-property: background;    
    transition-duration: 1s;
    transition-duration: 1s;

    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid black;
}


a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(0, 0, 0, 0.329);
    font-size: 1.2rem;
}

a:hover {
    color: black;
}

.inicio {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 10px;
}

.banner{    
    position: fixed;
    width: 100%;
    height: 100%;
}

.banner2{
    display: none;
}
.resumo {
    background: rgba(255, 255, 255, 0.712);
    padding: 10px;
    width: 30%;
    height: 15%;
    margin-top: 80px;
    border-radius: 11px;
    box-shadow: 0px 0px 7px 0px black; 

}

.frase {
    background: rgba(255, 255, 255, 0.712);
    box-shadow: 0px 0px 7px 0px black;
    width: 30%;
    height: 10%;
    padding: 10px;
    margin-top: 140px;    
    border-radius: 11px;
}

.segunda {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding: 55px;
    background: rgba(255, 255, 255, 0.589);
    margin-top: 40px;
    border-bottom: 1px solid rgb(53, 206, 53);
    box-shadow: 0px 0px 7px 0px black;
}


.segunda img {
    width: 15%;
}

hr {
    width: 80%;
    margin: 30px auto;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;    
    color: white;
    margin-bottom: 20px;
}

.descricao-projetos img {
    width: 8rem;
}

.descricao-projetos h1 {
    margin: 20px auto;
}


.card {
    display: flex;
    width: 200px;
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    border-radius: 10px;
    background: rgba(48, 46, 46, 0.979);
}
.card:hover{
    box-shadow: 0px 0px 7px 0px white;  
    
}

.card img {
    
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
}

.card li {
    list-style: none;
    line-height: 27px;
    color: rgb(180, 180, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card h3{
    color: white;
    font-size: 1rem;
}

.card button {    
    width: 100%;    
    border-radius: 50px;
    border: 1px solid rgb(53, 206, 53) ;
    margin: 10px 0;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    background: transparent;
    color: white;
}

.card button:hover {
    background: rgba(53, 206, 53, 0.596);
    color: white;
    border: none;
    border: 1px solid rgb(53, 206, 53, 0.596) ;

}

.card button:active {
    background: red;
    color: greenyellow;
}

.card ol {
    
    padding: 5px 0;
   
}

.card a{    
    width: 90%;
}

.projetos {    
    background: black;
    width: 100%;
    padding: 20px 0;
}

.descricao-projetos {
    position: relative;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

#footer {  
    display: flex;
    flex-direction: column;     
    align-items: center;
    padding-top: 20px;
    background: rgba(48, 46, 46, 0.979);
    border-top: 1px solid rgb(95, 89, 89);
}

footer .rede-menu{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer .rede{
    display: flex;
    flex-direction: column;
}

footer .conteudo{
    display: flex;
    flex-direction: column;
}

footer h4{
    color: rgb(155, 22, 22);
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

footer a{
    color: rgb(20, 19, 19);
    margin-bottom: 10PX;
}

footer p{
    margin-bottom: 30px;
    font-family:'Times New Roman', Times, serif ;
    color: #666
}

footer .agradecimentos{
    width: 100%;
    padding: 0 0 0 20px;
}